/* Base properties */
.scroll-container::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
}
.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  transition: 200ms all ease-out;
}

/* Scrollbar track and thumb starts transparent */
.scroll-container::-webkit-scrollbar {
  background: rgba(1, 1, 1, 0.1);
}
.scroll-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

/* Shows scrollbar and thumb when hovering the window */
html:hover .scroll-container::-webkit-scrollbar {
  background: rgba(1, 1, 1, 0.2);
}
html:hover .scroll-container::-webkit-scrollbar-thumb {
  /* 30% white */
  /* background: #4c4c4c;   */
  background: linear-gradient(#585858, #424242);
}

html:hover .scroll-container::-webkit-scrollbar-thumb:hover {
  background: #727272;
}
html:hover .scroll-container::-webkit-scrollbar-thumb:active {
  background: #a7a7a7;
}
